<div class="container">
  <div class="row">
    <div class="col-6 ">
      <h2>Modifier votre profil, <%= current_user.username %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "avatar" %>
          <% end %>

          <%= f.input :avatar,
                      as: :file,
                      required: false,
                      label: "Choisissez votre avatar" %>

          <%= f.input :password,
                      hint: "Laissez-le vide si vous ne souhaitez pas le modifier",
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      label: "Nouveau mot de passe" %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      label: "Confirmer le mot de passe" %>
          <%= f.input :current_password,
                      hint: "Nous avons besoin de votre mot de passe actuel pour confirmer vos changements",
                      required: true,
                      input_html: { autocomplete: "current-password" },
                      label: "Mot de passe actuel" %>

          <div class="d-flex justify-content-between">
            <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first_name" },
                          label: "Prénom" %>
            <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last_name" },
                          label: "Nom de famille"%>
          </div>

          <%= f.input :address,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "address" },
                              label: "Adresse"%>

          <div class="d-flex justify-content-between">
            <%= f.input :postal_code,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "postal_code" },
                        label: "Code postal"%>
            <%= f.input :city,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "city" },
                        label: "Ville"%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class:"btn btn-purple"%>
        </div>
      <% end %>

      <h3>Supprimer votre compte</h3>

      <div>Vous voulez nous quitter ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes vous certains ?", turbo_confirm: "Êtes vous certains ?" }, method: :delete, class:"btn btn-outline-danger" %></div>

      <%= link_to "Précédent", :back %>
    </div>
  </div>
</div>
