<div class="container">
  <div class="row">
    <div class="col-6 ">
      <%= simple_form_for [@book, @order] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <h3>Achetez <%= @book.name %> !</h3>
        <h3>Adresse de livraison :</h3>

        <%= f.input :delivery_address,  input_html: { value: (f.object.delivery_address.present?) ? f.object.delivery_address : current_user.address} %>

        <div class="d-flex justify-content-between">
          <%= f.input :delivery_postal_code, input_html: { value: (f.object.delivery_postal_code.present?) ? f.object.delivery_postal_code : current_user.postal_code}%>
          <%= f.input :delivery_city, input_html: { value: (f.object.delivery_city.present?) ? f.object.delivery_city : current_user.city} %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, 'Acheter', class:"btn btn-purple" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
