<div class="container">
  <%= link_to orders_path do %>
    <%= image_tag "arrow.svg", class: 'btn-arrow'%>
  <% end %>

  <h3>Détails de la commande</h3>

  <div class="col-sm-8 col-md-10 col-xl-10 mx-auto bg-white p-4 rounded">
    <p class="mb-4"><span class="fw-light">Commande passée le :</span> <%= @order.created_at.strftime('%d/%m/%y')%></p>

    <p class="mb-4"><span class="fw-light">Vendeur :</span> <%= @order.book.user.username %></p>

    <p class="mb-2 fw-light">Article :</p>
    <div class="d-flex flex-wrap justify-content-start align-items-center mb-5 ms-5 gap-3">
      <%= image_tag @order.book.photos.first, class: "me-4 miniature-img" %>
      <p class="fw-bold me-4"><%= @order.book.name %></p>
      <p class="fw-bold"><%= @order.book.price.to_s.gsub('.', ',') %>€</p>
      <%= link_to "Voir l'annonce", book_path(@order.book), class:"btn btn-link" %>
    </div>

    <div class="mb-5">
      <p class="fw-light">Adresse de livraison :</p>
      <div class="ms-5">
        <p><%= @order.user.first_name %> <%= @order.user.last_name %></p>
        <p><%= @order.delivery_address %></p>
        <p><%= @order.delivery_postal_code %> <%= @order.delivery_city %></p>
      </div>
    </div>

    <p><span class="fw-light">Frais de livraison :</span> 2,50 €</p>
    <p class="mb-5 fw-bold">Total : <%= (@order.book.price + 2.50).to_s.gsub('.', ',') %> €</p>
    <p class="mb-5"><span class="fw-light">Moyen de paiement utilisé :</span> PayPal</p>

    <div class="d-flex justify-content-center">
      <% if policy(@order).destroy? %>
        <%= link_to "Annuler", order_path(@order), method: :delete, data: {confirm: "Voulez-vous vraiment annuler cette commande ?"}, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>
