<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :category, collection: Book::CATEGORY,  label: "Catégorie" %>
    <%= f.input :name,  label: "Titre" %>
    <%= f.input :price,  label: "Prix" %>
    <%= f.input :description, as: :text, input_html: {rows: 5}%>
    <% if book.photos.attached? %>
      <% book.photos.each do |photo| %>
        <%= image_tag photo, class: "avatar"%>
      <% end %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, required: false, label: "Modifie tes photos" %>
    <% else %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, required: false, label: "Ajoute des photos" %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Valider', class: "btn btn-purple" %>
  </div>
<% end %>
