<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :category, collection: Book::CATEGORY %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <% if book.photos.attached? %>
      <%# <%= image_tag book.photos., class: "avatar" %> %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, required: false, label: "Modifie tes photos" %>
    <% else %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, required: false, label: "Ajoute des photos" %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
