<div class="container">
  <div class="d-flex flex-wrap row">

    <div class="detail-book-carousel col-12 col-md-4 col-lg-4 col-xl-4 text-center">
      <% if @book.photos.attached? %>
        <div id="carouselBook" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @book.photos.each_with_index do |photo, index| %>
              <div class="carousel-item carousel-img <%= index == 0 ? "active" : ""%> ">
                <%= image_tag photo, crop: :fill, class: "d-block w-100", id: "slide#{index} " %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselBook" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselBook" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% else %>
        <%= image_tag "conversation.png", class: "default-img" %>
      <% end %>
    </div>

    <div class="details-book-infos col-12 col-md-8 col-lg-8 col-xl-8">
      <h2 class="mb-4 mt-4"><%= @book.name %></h2>
      <p class="mb-4 text-jutify"><%= @book.description %></p>
      <p>Prix :</p>
      <div class="d-flex mb-4 ms-4 text-center">
        <h4><%= @book.price.to_s.gsub('.', ',') %></h4>
        <p>€</p>
      </div>
      <p class="mb-2"><b>Vendu par :</b></p>
      <div class="d-flex ms-4 mb-4">
        <% if @book.user.avatar.attached? %>
          <%= image_tag @book.user.avatar, class: "avatar-large me-2", crop: :fill %>
        <% else %>
          <%= image_tag "profile-user.png", class: "avatar-large me-2", crop: :fill%>
        <% end %>
        <div>
          <p><b><%= @book.user.username %></b></p>
          <p class="fw-light"><%= @book.user.city %></p>
        </div>
      </div>
      <div class="text-center mt-5">
        <% if @book.bought?  %>
          <p class="bg-success text-white p-2 w-25 mx-auto rounded-2">Vendu !</p>
         <% else %>
          <% if @book.user != current_user %>
            <%= link_to "Acheter", new_book_order_path(@book), class: "btn btn-lg btn-purple text-center" %>
          <% end %>
        <% end %>

        <% if user_signed_in?  %>
          <% if @book.bought? %>
            <h6 class="my-4">Votre BD a été achetée ! L'acheteur a déjà réglé les frais de port, vous allez reçevoir le bordereau d'envoi par mail, il ne vous reste plus qu'à l'imprimer et envoyer le colis.</h6>
          <% else %>
            <% if (policy(@book).edit?) %>
              <%= link_to "Modifier", edit_book_path(@book), class:"btn btn-purple" %>
            <% end %>
          <% end %>
          <% if policy(@book).destroy? %>
            <%= link_to "Supprimer", book_path(@book), method: :delete, data: {confirm: "Etes-vous sur ?"}, class:"btn btn-outline-danger" %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
